{% extends 'base.html.twig' %}

{#{% block title %}Hello ArticlesController!{% endblock %}#}

{% block body %}
    <div class="container">
        <div class="card bg-primary text-white">
            <div class="card-body">
                <h5 class="card-title">{{ ad.name }}</h5>
                <p class="card-text">{{ ad.test }}</p>
                <p class="card-text">Created At: {{ ad.created_at|date("F jS \\a\\t g:ia") }}</p>
                <p class="card-text">Author: {{ ad.owner_number }}</p>
                <p class="card-text">Address: {{ ad.address }}</p>
                <div class="btn btn-light"><a href="#">Edit</a></div>
{#                <div class="btn btn-light"><a href="{{ path('update_article', {'article': ad.id }) }}">Edit</a></div>#}
                <div class="btn btn-light"><a href="#">Delete</a></div>
{#                <div class="btn btn-light"><a href="{{ path('article_delete', {'article': ad.id }) }}">Delete</a></div>#}
            </div>
        </div><br>
    </div>
{% endblock %}